@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8FAFC; /* Slate-50: Very light cool grey */
  /* Mobile safe area fix */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

/* Hide Scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}